# Maven build output
**/target/

# IDE/local config
**/.vscode/
**/.idea/

.dc-data
.secrets

# Secrets
**/.env
**/.env.*
!.env.example


# Allure generated/downloaded files
**/.allure/
**/allure-results/
**/allure-report/

# OS/local noise
.DS_Store
Thumbs.db
*.log