**/target/classes/
**/target/generated-sources/
**/target/generated-test-sources/
**/target/jacoco.exec
**/target/maven-archiver/
**/target/maven-status/
**/target/surefire-reports/
**/target/test-classes

lab1/.vscode

.dc-data
.secrets